.top-header {
    background-color: #7dd8e8;
    padding: 20px;
}

.logo-search {
    width: 60%;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    margin-right: 22px;
    font-family: 'Roboto Slab', serif;
    float: left;
}

.logo a {
    color: #274f56;
    text-decoration: none;
    font-size: 62px;
}

form {
    float: left;
    margin-top: 40px;
    margin-right: 178px;
}

form input {
    margin-right: 5px;
    width: 276px;
    height: 20px;
    background-color: transparent;
    border: 0px;
    padding: 8px;
    font-size: 10px;
    color: #5c5c5c;
    font-family: "Istok Web ", sans-serif;
    outline: none;
    display: inline-block;
}

form .input {
    background: url(../images/input.png) no-repeat;
    float: left;
}

form button {
    display: inline-block;
    outline: none;
    color: #ffffff;
    font-family: "Istok Web ", sans-serif;
    background-color: transparent;
    border: 0px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    display: inline-block;
}

form .button {
    background: url(../images/button.png) no-repeat;
    float: left;
}

.profile-info {
    width: 40%;
    float: right;
    margin-top: 6px;
    padding-left: 370px;
}

.title {
    font-size: 25px;
    font-family: "Muli", sans-serif;
    margin-bottom: 10px;
}

.profile-info a {
    color: #323232;
    text-decoration: none;
}

.profile-info a:hover {
    font-weight: 550;
}

ul.horizontal-line li {
    display: inline;
    font-family: "Istok Web ", sans-serif;
    font-size: 16px;
}

.bottom-header {
    background-color: #f5f5f5;
    padding: 20px;
}

.menu-items {
    float: left;
}

.menu-items li {
    display: inline-block;
    font-family: "Istok Web ", sans-serif;
    font-size: 18px;
    margin-left: 20px;
}

.menu-items a {
    color: #323232;
    text-decoration: none;
}

.menu-items a:hover {
    font-weight: 550;
}

.user-info {
    float: left;
    margin-left: 512px;
}

.user-info a {
    margin-right: 20px;
    text-decoration: none;
    color: #323232;
}

.user-info a:hover {
    font-weight: 550;
}

.user-info span {
    font-family: "Istok Web ", sans-serif;
    font-size: 16px;
}

.container {
    padding: 20px;
    margin-bottom: 20px;
}

.searches-entries-container {
    float: left;
}

.searches-container {
    width: 246px;
    background-color: #f5f5f5;
    float: left;
}

/* body content */
.entries-container {
    float: right;
    margin-left: 25px;
    margin-right: 25px;
    width: 930px;
}

.recent-searches {
    margin-bottom: 25px;
}

.shortlink-sidebar-container {
    width: 246px;
    background-color: #f5f5f5;
    float: right;
}

.content-common {
    width: 155px;
    word-wrap: break-word;
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}

.content-title {
    margin-bottom: 13px;
    background-color: #2fc1d9;
    padding: 15px;
}

.content-title h3 {
    font-family: "Istok Web ", sans-serif;
    color: #ccf0f6;
}

.content-title h3:hover {
    color: white;
}

.content-title img {
    vertical-align: middle;
}

.searches-content li {
    display: block;
    font-family: "Istok Web ", sans-serif;
    font-size: 16px;
}

.content {
    padding: 15px;
}

.content a {
    text-decoration: none;
    color: #292929;
    font-weight: 550;
    font-size: 14px;
}

.content div {
    width: 155px;
    word-wrap: break-word;
    display: inline-block;
    margin-right: 35px;
    vertical-align: middle;
}

.content img {
    vertical-align: middle;
}

.content:hover {
    background-color: #ffffff;
    padding: 15px;
}

.content a:hover {
    color: #309eb0;
}

/* div .img{
    height: 12px;
    width: 12px;
    background: url('images/hamburger-gray.png');
}
div .img:hover {
    background: url('images/hamburger-selected.png');
} */

.entries-main-title {
    background-color: #274f56;
    padding: 25px;
}

.entries-main-title h1 {
    font-size: 25px;
    font-family: "Muli", sans-serif;
    display: inline-block;
    margin-right: 50px;
    float: left;
}

.entries-main-title a {
    float: right;
}

.entries-list {
    background-color: #ffffff;
}

.entries-list li {
    display: block;
}

.entries {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.entries::after {
    background: url("/images/line.png");
}

.image-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.entries-content {
    display: inline-block;
    vertical-align: middle;
}

.entries-notify-info {
    color: #49aaba;
    font-weight: 550;
}

.entries-notify-invite {
    color: #d53f1c;
    font-weight: 550;
}

.entries a {
    text-decoration: none;
    color: #49aaba;
}

.subscribed {
    color: #709620;
    font-weight: 550;
}

.entries-footer {
    float: right;
}

.entries-footer a {
    text-decoration: none;
    color: black;
}

.entries-footer a:hover {
    font-weight: 550;
}

.copyright-info {
    float: right;
}

.short-links {
    float: left;
}

.short-links li {
    display: inline-block;
    font-family: "Istok Web ", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-left: 20px;
}

.short-links a {
    color: #323232;
    text-decoration: none;
}

.short-links a:hover {
    font-weight: 550;
}