* {
    margin: 0px;
    padding: 0px;
}

/* for debugging ghost spaces in css dont delete */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */