/* !important if you see side scrolling in chrome 
resposnive goto desktop version reload and then goto mobile */


.user-short-keys {
    display: none;
}

.logo-form {
    width: 67.916666%;
}

.shortlink-container,
.searches-container {
    display: none;
}

@media (min-width:768px) {
    .search-container {
        display: inline-block;
    }

    .menu-items li a {
        font-size: 10px;
    }

    .searches-container {
        display: block;
    }

    .searches-entries {
        width: 100%;
    }

    .searches-container {
        width: 190px;
    }

    .entries-container {
        width: 74%;
    }
}

@media (min-width:992px) {
    .page-content {
        max-width: 60em;
    }

    .user-short-keys {
        display: block;
    }

    .sidemenu {
        display: none;
    }

    .menu-items li a {
        font-size: 13px;
    }

    .lower-header-wrapper {
        display: block;
    }

    .shortlink-container {
        display: block;
    }

    .searches-entries {
        width: 77.083333%;
    }

    .searches-container {
        width: 25.675675%;
    }

    .entries-container {
        width: 70.27027%;
    }

    .shortlink-container {
        width: 19.7916%;
    }
}